body {
    background: rgb(212, 172, 10);
    background-image: url("./logo-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.pure-button {
    -webkit-border-radius: 1em;
    border-radius: 1em;
}